@use "./abstracts/_variables.scss";
@use "./base/_btn.scss";
@use "./base/_form.scss";
@use "./base/_size.scss";
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.rbc-row.rbc-time-header-cell {
  .rbc-header {
    height: 50px;
  }
}

.active-sidebar {
  background: #bb2019 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.offcanvas.offcanvas-end.show {
  width: 70vw;
}

.base-background {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.base-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
