.headerContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #fff;
  }

  &__logout {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
}
