.btn {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #26c55b;
  color: #fff;

  &:hover {
    background-color: #26c55b;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
