.form-container {
  padding: 10px;
  background: #fff;
  border-radius: 5px;

  .form-required {
    color: #d70e0e;
    margin-left: 5px;
  }

  .form-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 27px;
  }
}
